$text-base: #858686;
$text-blue: #29b6f6;
$text-green: #0cc2aa;
$text-violet: #6e8cd7;
$text-grey: #9b9c9c;
$text-light-warning: #e1db1c;
$text-dark-green: #289858;

$bg-main: #2c343c;
$bg-blue-dark: #344d89;
$bg-dark: #767a85;
$bg-blue: #29b6f6;
$bg-green: #0cc2aa;
$bg-violet: #6e8cd7;
$background-light-blue: #ebeff2;
$bg-btn: #ebeff2;
$bg-white: #fff;
$bg-facebook: #344d89;
$bg-twitter: #01a0e5;
$bg-dribbble: #d74579bd;
$btn-text: #adadad;
$btn-panel: #767a85;
$body-panel: #333d46;
$progress-base: #83e3ff;
$progress-main: #00b0d9;
$voucher-box: #0eb6a1;
